.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    
    
    @include respond(r-tab-port) {                               //<900px
        padding: 8rem 0;
    }
    
    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
        
        @include respond(r-tab-port) {                               //<900px
            margin-bottom: 6rem;
        }
    }
    &__logo {
        width: 15rem;
        height: auto;
    }
    &__navigation {
        border-top: 1px solid $color-grey-light-2;
        padding-top: 2rem;
        display: inline-block;
        width: 80%;
        text-align: center;
        left: 5vw;
        position: relative;
        @include respond(r-tab-port) {                               //<900px
            width: 100%;
        }
    }
    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        &:not(::last-child) {
            margin-right: 1.5rem;
        }
    }
    &__link {
        &:link,
        &:visited{
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            font-size: 1.2rem;
            margin: 0rem 0.5rem;
        }
        &:hover,
        &:active {
            color:$color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
            transform: rotate(5deg) scale(1.3);
            
        }
        
    }
    
    &__copyright {
        border-top: 1px solid $color-grey-light-2;
        padding-top: 2rem;
        width: 80%;
        text-align: center;
        left: 5vw;
        position: relative;

        @include respond(r-tab-port) {                               //<900px
            width: 100%;
            float: none;
        }
    }
}