.story {
    width: 75%;
    margin: 6rem auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    font-size: $default-font-size;
    color: $color-black;
    transform: skewX(-12deg);

    p, h3 {
        transform: skewX(12deg);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);

        -webkit-clip-path: circle(35% at 50% 50%);
        clip-path: circle(35% at 50% 50%);
        transform: translateY(-2.0rem) skewX(12deg);
        position: relative;
    }

    &__img {
        height: 100%; 
        transform: skewX(12deg) translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all 0.4s;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: skewX(12deg) translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}